

.catalog {
  background-image: url("../img/background-catalog@1x.png");
  background-size: 1440px;
  background-position: 50% 2550px;
  background-repeat: no-repeat;
  margin-bottom: 140px;
}

.catalog__offers {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  max-width: 1024px;
}

.catalog__image {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  margin-bottom: 200px;
}

.catalog__image-panorama {
  min-height: 860px;
  width: 100%;
  padding: 0;
  max-width: 1920px;
  margin: 0 auto;
}

.catalog__image-title,
.catalog__title {
  font-size: 55px;
  line-height: 80px;
  font-weight: 600;
  margin: 0;
}

.catalog__image-card {
  max-width: 412px;
  position: absolute;
  top: 185px;
  left: 80%;
  transform: translateX(-80%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.catalog__image-title,
.catalog__image-text {
  color: $white;
}

.catalog__image-title {
  padding-bottom: 30px;
  font-size: 55px;
  font-weight: 600;
  line-height: 80px;
}

.catalog__title-textmobile {
  display: none;
}

.catalog__image-text {
  margin: 0;
  margin-bottom: 39px;
  font-size: 16px;
  line-height: 27px;
}

.catalog__image-button {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 40px;
  padding-right: 179px;
}

.catalog__image-buttontext {
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  margin: 0;
  position: relative;
}

.catalog__image-buttonmobile,
.catalog__image-buttonmobiletext {
  display: none;
}

.catalog__image-buttontext::after {
  content: "";
  position: absolute;
  left: 210px;
  top: 0;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  background-image: url("../img/arrow-down.png");
}

.catalog__header {
  margin-bottom: 55px;
  padding-left: 30px;
}

.catalog__title {
  max-width: 358px;
  position: relative;
  margin-bottom: 65px;
  font-size: 55px;
  line-height: 80px;
  font-weight: 600;
}

.catalog__title::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 10px;
  right: 10px;
  max-width: 229px;
  border-bottom: 4px solid $orange-for-links;
}

.catalog__title-text {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  max-width: 328px;
  letter-spacing: -0.5px;
  color: $semi-dark;
}

.catalog__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  // flex-direction: row;
  justify-content: space-around;
  // align-items: center;
  // align-content: center;
  padding: 0;
}


.catalog__item {
  position: relative;
  margin-bottom: 98px;
}

.catalog__nameplate {
  position: absolute;
  bottom: 6px;
  left: 37px;
  padding: 10px 20px;
  min-width: 215px;
  min-height: 61px;
  background-color: $white;
  border: none;
}

.nameplate__text {
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  text-align: center;
}

.catalog__picture {
  position: relative;
}

.catalog__button {
  background-color: inherit;
  position: absolute;
  bottom: 258px;
  left: 17px;
  border-radius: 1px;
  border-color: $white;
  color: $white;
  padding: 30px 25px;
  clip: rect(0 0 0 0);
  overflow: hidden;
  text-transform: uppercase;
  cursor: pointer;
}

.catalog__item:hover,
.catalog__item:focus {
  opacity: 0.6;
}


.catalog__item:hover .catalog__button,
.catalog__item:focus .catalog__button {
  clip: auto;
  overflow: visible;
  background: rgba(20, 21, 23, 0.6);
}


@media (max-width: $max-tablet-width) {
  .catalog {
    background-image: none;
  }

  .catalog__image {
    margin-bottom: 80px;
  }

  .catalog__image-panorama {
    min-height: 344px;
    max-width: 1024px;
  }

  .catalog__image-card {
    max-width: 398px;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
  }

  .catalog__image-title {
    padding-bottom: 15px;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
  }

  .catalog__image-text {
    margin-bottom: 15px;
    text-align: center;
    letter-spacing: -0.5px;
  }

  .catalog__image-button {
    padding-top: 19px;
    padding-bottom: 19px;
    padding-left: 40px;
    padding-right: 75px;
  }

  .catalog__image-buttontext::after {
    left: 130px;
    top: 0;
  }

  .catalog__header {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .catalog__title {
    max-width: 343px;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 45px;
  }

  .catalog__title::after {
    display: none;
  }

  .catalog__title-text {
    text-align: center;
  }

  .catalog__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 100px;
  }

  .catalog__item {
    margin-bottom: 15px;
  }

  .catalog__nameplate {
    bottom: 5px;
  }

  .catalog__offers {
    padding: 0;
  }
}

@media (max-width: $max-mobile-width) {
  .catalog {
    margin-bottom: 0;
  }

  .catalog__image-panorama {
    min-height: 235px;
    max-width: 768px;
  }

  .catalog__image-text {
    display: none;
  }

  .catalog__image-title {
    font-size: 24px;
    line-height: 36px;
    padding-top: 15px;
  }

  .catalog__image {
    margin-bottom: 20px;
  }

  .catalog__title,
  .catalog__title-text {
    display: none;
  }

  .catalog__header {
    padding: 0;
    margin-bottom: 0;
  }

  .catalog__title-textmobile {
    display: block;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .catalog__image-button {
    display: none;
  }

  .catalog_item {
    margin-bottom: 35px;
  }

  .catalog__list {
    margin-bottom: 40px;
  }

  .catalog__image-buttonmobile,
  .catalog__image-buttonmobiletext {
    display: block;
  }

  .catalog__image-buttonmobile {
    margin-bottom: 110px;
    padding: 19px 145px 19px 40px;
    position: relative;
  }

  .catalog__image-buttonmobile::after {
    content: "";
    position: absolute;
    left: 210px;
    top: 25px;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    background-image: url("../img/arrow-down.png");
  }
}
