.catalog__inner {
  background-image: url(../img/background-catalog@1x.png);
  background-size: 1024px;
  background-position: 0 0;
  background-repeat: no-repeat;
  min-width: 1024px;
  min-height: 800px;
}

.catalog__image {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
}

.catalog__image-panorama {
  min-height: 860px;
  width: 100%;
  padding: 0;
  max-width: 1920px;
  margin: 0 auto;
}