.contacts {
  background-image: url("../img/ocean.jpg");
  background-size: 840px;
  background-position: auto auto;
  background-repeat: no-repeat;
  min-height: 450px;
  margin: 0 auto;
  width: 1024px;
  padding: 10px 10px;
  position: relative;
}

.contacts__inner {
  background-color: $white;
  position: absolute;
  top: 70px;
  left: 365px;
  padding: 50px;
  max-width: 660px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 30px rgba(41, 54, 66, 0.1);
  border-radius: 5px;
}

.contacts__header,
.contacts__header-text {
  margin-top: 0;
  color: $arrows;
}

.contacts__header {
  margin-bottom: 15px;
  font-size: 25px;
  line-height: 32px;
  font-weight: 600;
}

.contacts__header-text {
  margin-bottom: 28px;
}

.contacts__phone,
.contacts__email {
  padding: 15px;
  min-width: 270px;
}

.contacts__phone {
  margin-right: 10px;
  margin-bottom: 25px;
}

.contacts__button {
  padding: 18px 40px;
  margin-left: 200px;
}

.contacts__form {
  position: relative;
}

.contacts__form::after {
  content: "";
  position: absolute;
  left: 10px;
  top: 10px;
  background-repeat: no-repeat;
  width: 6px;
  height: 7px;
  background-image: url("../img/star.png");
}

@media (max-width: $max-tablet-width) {
  .contacts {
    background-size: 100%;
    width: 100%;
    background-image: url("../img/ocean-tablet.jpg");
  }

  .contacts__inner {
    left: 50%;
    transform: translateX(-50%);
  }
}
