
.download__inner {
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-position: left 108px;
  background-repeat: no-repeat;
  background-size: 258px;
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;
}


@media (min-resolution: 2dppx) {
  .download__inner {
    background-image: url("../img/iphone-hand-mobile@2x.png");
  }
}

@media (min-width: $tablet-width) {
  .download__inner {
    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-position: 50% 91px;
    background-repeat: no-repeat;
    background-size: 700px;
    min-height: 545px;
    padding-top: 75px;
    padding-bottom: 81px;
  }

  @media (min-resolution: 2dppx) {
    .download__inner {
      background-image: url("../img/iphone-hand-tablet@2x.png");
    }
  }
}

@media (min-width: $desktop-width) {
  .download__inner {
    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-position: -28% 140px;
    background-repeat: no-repeat;
    background-size: 1050px;
    min-height: 645px;
    padding-bottom: 91px;
    padding-top: 140px;
  }

  @media (min-resolution: 2dppx) {
    .download__inner {
      background-image: url("../img/iphone-hand-desktop@2x.png");
    }
  }
}

.download__image {
  position: relative;
  max-height: 286px;
  display: block;
}

.download__slogan {
  min-height: 362px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 32px;
  padding-top: 23px;
}

@media (min-width: $tablet-width) {
  .download__slogan {
    width: 272px;
    margin-bottom: 4px;
    margin-left: 34px;
    padding-top: 37px;
    min-height: 100%;
  }
}

@media (min-width: $desktop-width) {
  .download__slogan {
    margin-left: 22px;
    padding-top: 0;
    margin-bottom: 37px;
  }
}

.download__slogan-name {
  color: $white;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  margin: 0;
  letter-spacing: -0.5px;
  font-weight: 300;
}

@media (min-width: $tablet-width) {
  .download__slogan-name {
    font-size: 40px;
    line-height: 48px;
  }
}

@media (min-width: $desktop-width) {
  .download__slogan-name {
    font-size: 50px;
    line-height: 68px;
  }
}

.download__button {
  padding: 17px 36px;
  border: 3px solid $white;
  border-radius: 50px 50px;
  color: $white;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  margin-top: 28px;
  margin-bottom: 25px;
}

@media (min-width: $tablet-width) {
  .download__button {
    padding-left: 44px;
    padding-right: 44px;
    margin-bottom: 43px;
    padding-bottom: 15px;
    padding-top: 14px;
  }
}

@media (min-width: $desktop-width) {
  .download__button {
    margin-top: 0;
    padding-left: 27px;
    padding-right: 27px;
    margin-bottom: 64px;
    font-size: 21px;
    padding-bottom: 18px;
    padding-top: 17px;
  }
}

.download__button:hover,
.download__button:focus {
  background-color: $white;
  color: $secondary-color;
}

.download__button:active {
  background-color: $white;
  color: $light-red;
}

.download__list {
  background-color: $dark;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: $tablet-width) {
  .download__list {
    width: 340px;
    position: relative;
    background-color: transparent;
  }
}

@media (min-width: $desktop-width) {
  .download__list {
    width: 301px;
    position: relative;
    background-color: transparent;
    margin-left: 9px;
  }
}

.download__list-link {
  margin-top: 0;
  margin-bottom: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  grid-gap: 35px;
}

@media (min-width: $tablet-width) {
  .download__list-link {
    margin-bottom: 28px;
  }
}

@media (min-width: $desktop-width) {
  .download__list-link {
    margin-bottom: 44px;
  }
}

.download__text {
  color: $white;
  text-align: center;
  margin-top: 0;
  font-size: 14px;
  margin-bottom: 32px;
}


@media (min-width: $tablet-width) {
  .download__text {
    font-size: 18px;
    word-spacing: -2px;
  }
}
