.catalog__offers {
  position: relative;
}

.offers__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0;
  margin: 0;
  margin-bottom: 110px;
}

.offers__list::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
  border-bottom: 1px solid $semi-dark;
}

.offers__button {
  color: $semi-dark;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
  border: none;
  background-color: inherit;
}

.offers__button:hover,
.offers__button:focus {
  color: $orange-for-links;
}

.offers__button--active {
  color: $orange-for-links;
}

.offers__wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 70px;
  display: none;
}

.offers__description {
  min-width: 370px;
  margin-bottom: 170px;
}

.offers__title {
  font-size: 55px;
  line-height: 90px;
  font-weight: 600;
  position: relative;
  margin-top: 0;
  margin-bottom: 53px;
}

.offers__title::after,
.reviews__title::after {
  content: "";
  position: absolute;
  bottom: -19px;
  left: 0;
  right: 10px;
}

.offers__title::after {
  max-width: 160px;
  border-bottom: 4px solid $orange-for-links;
}

.offers__text {
  max-width: 370px;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.5px;
  margin-top: 0;
  margin-bottom: 50px;
}

.offers__button-order {
  padding: 30px 40px;
}

.offers__reviews {
  background-color: $white;
  max-width: 382px;
  padding: 30px;
  position: absolute;
  right: 0;
  top: 100px;
  z-index: 1;
}

.reviews__title {
  font-size: 30px;
  line-height: 37px;
  font-weight: 50;
  letter-spacing: -0.7px;
  margin-top: 0;
  margin-bottom: 32px;
  position: relative;
}

.reviews__title::after {
  max-width: 80px;
  border-bottom: 1px solid $orange-for-links;
}

.reviews__text {
  margin-top: 0;
  margin-bottom: 35px;
}

.reviews__author {
  display: flex;
  justify-content: flex-start;
}

.author__name {
  margin: 0;
  padding-left: 16px;
}

.author__avatar {
  width: 38px;
  height: 38px;
}

.reviews__image {
  position: absolute;
  right: 120px;
  top: -55px;
  z-index: 0;
}

.offers__wrapper--active {
  display: block;
}

@media (max-width: $max-tablet-width) {
  .offers__wrapper {
    padding-bottom: 200px;
  }

  .offers__list {
    margin-bottom: 50px;
    padding-right: 40px;
    padding-left: 40px;
  }

  .offers__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 350px;
  }

  .offers__item:last-child {
    display: none;
  }

  .offers__title::after {
    display: none;
  }

  .offers__title {
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 45px;
  }

  .offers__text {
    min-width: 726px;
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: -0.5px;
  }

  .offers__button-order {
    padding: 19px 50px;
  }

  .reviews__image {
    position: absolute;
    right: 0;
    top: 330px;
    z-index: -1;
    width: 100%;
  }

  .offers__reviews {
    top: 375px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: $max-mobile-width) {
  .offers__wrapper {
    padding-bottom: 0;
    margin-bottom: 110px;
  }

  .offers__item:nth-child(3),
  .offers__item:nth-child(4) {
    display: none;
  }

  .offers__text {
    min-width: 320px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .offers__reviews {
    top: 100px;
    width: 270px;
    text-align: center;
    padding: 15px;
  }

  .reviews__image {
    top: 50px;
    position: relative;
  }

  .offers__description {
    margin-bottom: 0;
    min-width: 320px;
  }

  .reviews__author {
    flex-direction: column;
    align-items: center;
  }

  .offers__list {
    width: 320px;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  .offers__list::after {
    width: 300px;
    left: 10px;
    right: 10px;
  }

  .offers__title {
    font-size: 24px;
    line-height: 36px;
  }

  .offers__text,
  .offers__title {
    margin-bottom: 20px;
  }

  .offers__button-order {
    padding: 20px 70px;
  }

  .reviews__title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
  }

  .reviews__title::after {
    left: 65px;
  }

  .reviews__text {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 15px;
  }

  .author__name {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    padding-left: 0;
  }

  .author__avatar {
    margin-bottom: 10px;
  }

  .offers__picture {
    position: relative;
  }
}
