
html {
  height: 100%;
}

.page {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  min-height: 100%;
  color: $primary-color;
}

.page-title {
  text-align: center;
  margin: 0;
  min-height: 84px;
  color: $white;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 30px;
  padding-bottom: 77px;
}

.formpage-title {
  padding-top: 29px;
  padding-bottom: 41px;
}

@media (min-width: $tablet-width) {
  .page-title {
    font-size: 50px;
    line-height: 68px;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 85px;
    padding-bottom: 127px;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-title {
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 93px;
    padding-bottom: 89px;
  }
}

@media (min-width: $tablet-width) {
  .formpage-title {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 86px;
    padding-bottom: 58px;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .formpage-title {
    padding-top: 93px;
    padding-bottom: 88px;
  }
}

.page-content {
  background-image: url("../img/bg-back-mobile.jpg");
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 68px;
  margin-top: -68px;
  background-color: $primary-color;
}

@media (min-resolution: 2dppx) {
  .page-content {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}

@media (min-width: $tablet-width) {
  .page-content {
    background-image: url("../img/bg-back-tablet.jpg");
    background-position: 50% -24px;
    background-size: auto;
    margin-top: -88px;
  }

  @media (min-resolution: 2dppx) {
    .page-content {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1200px;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-content {
    background-image: url("../img/bg-back-desktop.jpg");
    background-size: auto;
    background-position: 50% 0;
    margin-top: -110px;
  }

  @media (min-resolution: 2dppx) {
    .page-content {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 2560px;
    }
  }
}

.include {
  display: none;
}
