.prices__wrapper {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.prices__description {
  border: 1px solid $semi-dark;
  border-radius: 6px;
  min-width: 290px;
  padding: 40px 15px 30px 15px;
  margin-right: 15px;
}

.prices__description-wrapper {
  display: flex;
}

.prices__description--active {
  border-width: 3px;
  border-color: $orange-for-links;
}

.prices__title,
.prices__summ {
  line-height: 34px;
  margin-top: 0;
  margin-bottom: 40px;
}

.prices__title {
  font-size: 28px;
  font-weight: 600;
  color: $dark-grey;
}

.prices__title--active {
  color: $orange-for-links;
}

.prices__summ {
  font-size: 25px;
  font-weight: 700;
}

.prices__text {
  color: $dark;
  margin-top: 0;
  margin-bottom: 59px;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  padding-right: 21px;
}

.prices__text::after {
  content: "";
  position: absolute;
  bottom: -19px;
  left: 0;
  right: 10px;
  max-width: 310px;
  border: 1px solid $semi-dark;
}

.prices__text--active::after {
  content: "";
  position: absolute;
  bottom: -19px;
  left: 0;
  right: 10px;
  max-width: 310px;
  border: 1px solid $orange-for-links;
  opacity: 0.5;
}

.prices__list {
  list-style: none;
  margin-top: 0;
  padding: 0;
  padding-right: 30px;
  padding-left: 30px;
}

.prices__list-complex {
  margin-bottom: 40px;
}

.prices__list-econom {
  margin-bottom: 25px;
}

.prices__item {
  position: relative;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 32px;
  color: $dark;
}

.prices__item::before {
  content: "✔";
  position: absolute;
  top: 0;
  left: -25px;
  color: $arrows;
}

.prices__item--active::before {
  color: $orange-for-links;
}

.prices__button {
  padding: 30px 70px;
  margin-left: 10px;
}

.prices__button:hover,
.price__button:focus {
  background-color: $dark-orange;
}

.prices__details {
  max-width: 299px;
  padding-top: 100px;
}

.details__title {
  font-size: 55px;
  line-height: 90px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 53px;
  color: $dark;
}

.details__text {
  margin-top: 0;
  margin-bottom: 60px;
  font-size: 16px;
  line-height: 27px;
  color: $semi-dark;
}

.details__contacts-title,
.details__contacts-link {
  padding-left: 30px;
}

.details__contacts-title {
  font-size: 22px;
  line-height: 34px;
  font-weight: 500;
  color: $arrows;
  margin-top: 0;
  margin-bottom: 13px;
}

.details__contacts-link {
  color: $black;
  position: relative;
}

.details__contacts-link::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 30px;
  background-image: url("../img/phone-icon-orange.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 0;
  top: -5px;
}

@media (max-width: $max-tablet-width) {
  .prices__description-wrapper {
    display: flex;
    align-items: center;
  }

  .prices__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 1fr 1fr; */
    grid-row-gap: 30px;
    grid-column-gap: 10px;
  }

  .prices__details {
    min-width: 726px;
    padding-top: 0;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    margin-bottom: 20px;
  }

  .prices__description {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .details__title {
    font-size: 30px;
    line-height: 45px;
  }

  .details__text {
    font-size: 16px;
    line-height: 27px;
  }

  .details__contacts-title {
    font-size: 18px;
    line-height: 34px;
  }

  .details__contacts-link {
    font-size: 18px;
    line-height: 34px;
    text-decoration: underline;
    color: $dark-orange;
  }

  .details__contacts-link::before {
    display: none;
  }
}

@media (max-width: $max-mobile-width) {
  .prices__wrapper {
    display: flex;
    flex-direction: column-reverse;
  }

  .prices__details {
    min-width: 300px;
    margin-bottom: 40px;
  }

  .prices__description-wrapper {
    flex-direction: column;
  }

  .prices__description {
    margin-right: 0;
    margin-bottom: 30px;
    padding: 40px 0 0 0;
  }

  .prices__title,
  .prices__title--active,
  .prices__text {
    text-align: center;
    padding-right: 25px;
    padding-left: 25px;
  }

  .prices__list {
    padding-right: 40px;
    padding-left: 40px;
  }

  .prices__title,
  .prices__title--active {
    margin-bottom: 10px;
  }

  .prices__text {
    margin-bottom: 30px;
  }

  .detals__title,
  .details_-text {
    margin-bottom: 20px;
  }

  .detals__title {
    font-size: 24px;
    line-height: 34px;
    text-align: center;
  }

  .details__text {
    font-size: 16px;
    line-height: 27px;
  }

  .details__contacts-link,
  .details__contacts-title {
    padding-left: 0;
  }

  .prices__button {
    padding: 20px 100px;
    margin-left: 0;
  }
}
