

.reviews {
  background-color: $white;
  padding-top: 40px;
}

@media (min-width: $tablet-width) {
  .reviews {
    padding-top: 88px;
    padding-bottom: 65px;
  }

  .reviews__info {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    padding-top: 179px;
    padding-bottom: 46px;
  }
}

.slider__item {
  display: none;
}

.slider__item--active {
  display: block;
}

.reviews__item {
  background-color: $white;
  margin: 0;
}

.reviews__author-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: $dark-blue;
  text-align: center;
  margin-top: 0;
  margin-bottom: 13px;
}

.reviews__image {
  display: none;
}

@media (min-width: $desktop-width) {
  .reviews__image {
    position: absolute;
    top: -60%;
    left: 50%;
    transform: translateX(-50%);
    display: block;
  }
}

.reviews__button-left,
.reviews__button-right {
  display: none;
}


@media (min-width: $desktop-width) {
  .reviews__button-left,
  .reviews__button-right {
    min-width: 22px;
    min-height: 41px;
    border: none;
    background-color: transparent;
    opacity: 0.3;
    background-repeat: no-repeat;
    position: absolute;
    top: 16%;
    cursor: pointer;
    display: block;
  }

  .reviews__list {
    position: relative;
  }

  .reviews__button-left {
    background-image: url("../img/left-arrow.svg");
    left: 1%;
  }

  .reviews__button-right {
    background-image: url("../img/right-arrow.svg");
    right: 1%;
  }

  .reviews__button-left:hover,
  .reviews__button-right:hover,
  .reviews__button-left:focus,
  .reviews__button-right:focus {
    opacity: 0.6;
  }

  .reviews__button-left:active,
  .reviews__button-right:active {
    opacity: 0.1;
  }
}

@media (min-width: $tablet-width) {
  .reviews__author-name {
    order: 2;
    margin-bottom: 0;
    font-size: 18px;
    word-spacing: 11px;
  }
}

@media (min-width: $desktop-width) {
  .reviews__author-name {
    font-size: 24px;
    word-spacing: 0;
  }
}

.reviews__author-job {
  display: none;
}

@media (min-width: $tablet-width) {
  .reviews__author-job {
    order: 3;
    margin: 0;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .reviews__author-job {
    order: 2;
    margin: 0;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }
}

.reviews__text {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  margin: 0;
  min-width: 280px;
  white-space: normal;
}


@media (min-width: $tablet-width) {
  .reviews__text {
    margin-top: 0;
    margin-bottom: 36px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .reviews__text {
    padding-left: 125px;
    padding-right: 125px;
  }
}

.reviews__inner {
  position: relative;
}

.reviews__toggles {
  position: absolute;
  top: 255px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .reviews__toggles {
    top: 225px;
  }
}

.slider__toggle {
  padding: 0;
  width: 6px;
  height: 6px;
  background-color: $primary-color;
  opacity: 0.3;
  cursor: pointer;
  border-radius: 50%;
  position: relative;
  border: none;
}

.slider__toggle:not(:last-child) {
  margin-right: 19px;
}

@media (min-width: $desktop-width) {
  .slider__toggles {
    display: none;
  }
}

.slider__toggle--active {
  background-color: $white;
  border: 3px solid $primary-color;
  padding: 2px;
  cursor: pointer;
  opacity: 1;
  background-clip: content-box;
}
