
.slogan__text-main,
.slogan__text-lower {
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  word-spacing: -1px;
  font-weight: 300;
}

.slogan__text-main {
  padding-bottom: 32px;
}

@media (min-width: $tablet-width) {
  .slogan__text-main {
    padding-bottom: 0;
  }
}

.slogan__text-lower {
  padding-bottom: 31px;
  letter-spacing: -0.5px;
}

@media (min-width: $tablet-width) {
  .slogan__text-lower {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (min-width: $tablet-width) {
  .slogan__text-main,
  .slogan__text-lower {
    font-size: 40px;
    line-height: 54px;
    margin-bottom: 0;
  }

  .slogan__text-lower {
    word-spacing: 3px;
  }
}

.slogan {
  background-color: $white;
  padding-top: 41px;
}

@media (min-width: $tablet-width) {
  .slogan {
    padding-top: 47px;
  }
}

@media (min-width: $desktop-width) {
  .slogan__text-main,
  .slogan__text-lower {
    font-size: 50px;
    line-height: 68px;
  }

  .slogan {
    padding-top: 63px;
    padding-bottom: 27px;
  }

  .slogan__text-lower {
    padding-left: 150px;
    padding-right: 150px;
  }
}
