@charset "UTF-8";
/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/montserrat-Regular.woff") format("woff"); }

/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/montserrat-Medium.woff") format("woff"); }

/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Montserrat Semi-bold"), local("Montserrat-Semi-bold"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/montserrat-SemiBold.woff") format("woff"); }

/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/montserrat-Bold.woff") format("woff"); }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

a {
  text-decoration: none; }

*,
*::before,
*::after {
  box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

.container {
  width: 1024px;
  margin: 0 auto;
  padding: 10px 10px; }

@media (max-width: 1023px) {
  .container {
    width: 768px; } }

@media (max-width: 767px) {
  .container {
    width: 320px; } }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0; }

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block; }

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent; }

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder; }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%; }

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none; }

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible; }

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none; }

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline; }

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto; }

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block; }

/*
   * Add the correct display in all browsers.
   */
summary {
  display: destinations-item; }

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none; }

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none; }

html {
  height: 100%; }

.page {
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  min-height: 100%;
  color: #2C2E3F; }

.button:hover,
.button:focus {
  background-color: #F17D4B; }

.button {
  text-transform: uppercase;
  color: #ffffff;
  background-color: #FE7865;
  cursor: pointer;
  border: none;
  font-size: 12px;
  line-height: 15px;
  font-weight: 700; }

.navigation {
  background-color: #ffffff; }

.navigation__close,
.navigation__open,
.navigation__toggle {
  display: none; }

.navigation__inner {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  width: 1024px;
  padding-top: 36px;
  padding-bottom: 31px;
  position: relative; }

.navigation__destinations {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  position: absolute;
  left: 66.5%;
  transform: translateX(-50%); }

.navigation__item {
  cursor: pointer; }

.navigation__item:not(:last-child) {
  padding-right: 40px; }

.navigation__logo {
  width: 55px;
  height: 22px; }

.navigation__link-tel::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 30px;
  background-image: url("../img/phone-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  right: 170px;
  top: 0; }

.navigation__link {
  font-size: 14px;
  line-height: 17px;
  color: #2C2E3F; }

.navigation__link-tel {
  font-size: 18px;
  line-height: 32px;
  text-decoration: underline;
  position: relative; }

.navigation__link:hover,
.navigation__link:focus {
  color: #FE7865; }

@media (max-width: 1023px) {
  .navigation__inner {
    display: block; }
  .navigation__destinations {
    position: relative;
    flex-direction: column;
    left: 0;
    transform: none;
    width: 100%;
    margin-top: 16px; }
  .navigation__item {
    background-color: #FBF8F8;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    padding-left: 16px;
    position: relative; }
  .navigation__item::after {
    content: "";
    position: absolute;
    right: 50px;
    top: 0;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    background-image: url("../img/arrow-menu.svg"); }
  .navigation__item:not(:last-child) {
    margin-bottom: 30px; }
  .navigation__link-tel {
    display: none; } }

.catalog {
  background-image: url("../img/background-catalog@1x.png");
  background-size: 1440px;
  background-position: 50% 2550px;
  background-repeat: no-repeat;
  margin-bottom: 140px; }

.catalog__image {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  padding-bottom: 200px; }

.catalog__image-panorama {
  min-height: 860px;
  width: 100%;
  padding: 0;
  max-width: 1920px;
  margin: 0 auto; }

.catalog__image-title,
.catalog__title {
  font-size: 55px;
  line-height: 80px;
  font-weight: 600;
  margin: 0; }

.catalog__image-card {
  max-width: 412px;
  position: absolute;
  top: 185px;
  left: 80%;
  transform: translateX(-80%); }

.catalog__image-title,
.catalog__image-text {
  color: #ffffff; }

.catalog__image-title {
  padding-bottom: 30px; }

.catalog__image-text {
  margin: 0;
  padding-bottom: 39px; }

.catalog__image-button {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 40px;
  padding-right: 179px; }

.catalog__image-buttontext {
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  margin: 0;
  position: relative; }

.catalog__image-buttontext::after {
  content: "";
  position: absolute;
  left: 210px;
  top: 0;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  background-image: url("../img/arrow-down.png"); }

.catalog__header {
  margin-bottom: 55px;
  padding-left: 30px; }

.catalog__title {
  max-width: 358px;
  position: relative;
  padding-bottom: 65px; }

.catalog__title::after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 10px;
  right: 10px;
  max-width: 229px;
  border: 4px solid #FE7865; }

.catalog__title-text {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  max-width: 328px;
  letter-spacing: -0.5px;
  color: rgba(44, 46, 63, 0.3); }

.catalog__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0; }

.catalog__item {
  position: relative;
  margin-bottom: 98px; }

.catalog__nameplate {
  position: absolute;
  bottom: 6px;
  left: 37px;
  padding: 10px 20px;
  min-width: 215px;
  min-height: 61px;
  background-color: #ffffff;
  border: none; }

.nameplate__text {
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  text-align: center; }

.catalog__picture {
  position: relative; }

.catalog__button {
  background-color: inherit;
  position: absolute;
  bottom: 258px;
  left: 17px;
  border-radius: 1px;
  border-color: #ffffff;
  color: #ffffff;
  padding: 30px 25px;
  clip: rect(0 0 0 0);
  overflow: hidden;
  text-transform: uppercase;
  cursor: pointer; }

.catalog__item:hover,
.catalog__item:focus {
  opacity: 0.6; }

.catalog__item:hover .catalog__button,
.catalog__item:focus .catalog__button {
  clip: auto;
  overflow: visible;
  background: rgba(20, 21, 23, 0.6); }

@media (max-width: 1023px) {
  .catalog {
    background-image: none; }
  .catalog__image {
    padding-bottom: 80px; }
  .catalog__image-panorama {
    min-height: 344px; } }

.catalog__offers {
  position: relative; }

.offers__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0;
  margin: 0;
  margin-bottom: 110px; }

.offers__list::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
  border: 1px solid rgba(44, 46, 63, 0.3); }

.offers__button {
  color: rgba(44, 46, 63, 0.3);
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
  border: none;
  background-color: inherit; }

.offers__button:hover,
.offers__button:focus {
  color: #FE7865; }

.offers__button--active {
  color: #FE7865; }

.offers__wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 240px; }

.offers__description {
  min-width: 370px; }

.offers__title {
  font-size: 55px;
  line-height: 90px;
  font-weight: 600;
  position: relative;
  margin-top: 0;
  margin-bottom: 53px; }

.offers__title::after,
.reviews__title::after {
  content: "";
  position: absolute;
  bottom: -19px;
  left: 0;
  right: 10px; }

.offers__title::after {
  max-width: 160px;
  border: 4px solid #FE7865; }

.offers__text {
  max-width: 370px;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.5px;
  margin-top: 0;
  margin-bottom: 50px; }

.offers__button-order {
  padding: 30px 40px; }

.offers__reviews {
  background-color: #ffffff;
  max-width: 382px;
  padding: 30px;
  position: absolute;
  right: 0;
  top: 100px;
  z-index: 1; }

.reviews__title {
  font-size: 30px;
  line-height: 37px;
  font-weight: 50;
  letter-spacing: -0.7px;
  margin-top: 0;
  margin-bottom: 32px;
  position: relative; }

.reviews__title::after {
  max-width: 80px;
  border: 1px solid #FE7865; }

.reviews__text {
  margin-top: 0;
  margin-bottom: 35px; }

.reviews__author {
  display: flex;
  justify-content: flex-start; }

.author__name {
  margin: 0;
  padding-left: 16px; }

.author__avatar {
  width: 38px;
  height: 38px; }

.reviews__image {
  position: absolute;
  right: 120px;
  top: -55px;
  z-index: 0; }

.offers__wrapper {
  display: none; }

.offers__wrapper--active {
  display: block; }

.prices__wrapper {
  display: flex;
  justify-content: space-between; }

.prices__description {
  border: 1px solid rgba(44, 46, 63, 0.3);
  border-radius: 6px;
  min-width: 290px;
  padding: 40px 15px 30px 15px;
  margin-right: 15px; }

.prices__description--active {
  border-width: 3px;
  border-color: #FE7865; }

.prices__title,
.prices__summ {
  line-height: 34px;
  margin-top: 0;
  margin-bottom: 40px; }

.prices__title {
  font-size: 28px;
  font-weight: 600;
  color: rgba(20, 21, 23, 0.7); }

.prices__title--active {
  color: #FE7865; }

.prices__summ {
  font-size: 25px;
  font-weight: 700;
  padding-left: 10px; }

.prices__text {
  color: #2C2E3F;
  margin-top: 0;
  margin-bottom: 59px;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  padding-right: 21px; }

.prices__text::after {
  content: "";
  position: absolute;
  bottom: -19px;
  left: 0;
  right: 10px;
  max-width: 310px;
  border: 1px solid rgba(44, 46, 63, 0.3); }

.prices__text--active::after {
  content: "";
  position: absolute;
  bottom: -19px;
  left: 0;
  right: 10px;
  max-width: 310px;
  border: 1px solid #FE7865;
  opacity: 0.5; }

.prices__list {
  list-style: none;
  margin-top: 0;
  padding: 0;
  padding-right: 30px;
  padding-left: 30px; }

.prices__list-complex {
  margin-bottom: 40px; }

.prices__list-econom {
  margin-bottom: 25px; }

.prices__item {
  position: relative;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 32px;
  color: #2C2E3F; }

.prices__item::before {
  content: "✔";
  position: absolute;
  top: 0;
  left: -25px;
  color: #141517; }

.prices__item--active::before {
  color: #FE7865; }

.prices__button {
  padding: 30px 70px;
  margin-left: 10px; }

.prices__button:hover,
.price__button:focus {
  background-color: #F17D4B; }

.prices__details {
  max-width: 299px;
  padding-top: 100px; }

.details__title {
  font-size: 55px;
  line-height: 90px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 53px;
  color: #2C2E3F; }

.details__text {
  margin-top: 0;
  margin-bottom: 60px;
  font-size: 16px;
  line-height: 27px;
  color: rgba(44, 46, 63, 0.3); }

.details__contacts-title,
.details__contacts-link {
  padding-left: 30px; }

.details__contacts-title {
  font-size: 22px;
  line-height: 34px;
  font-weight: 500;
  color: #141517;
  margin-top: 0;
  margin-bottom: 13px; }

.details__contacts-link {
  color: #000000;
  position: relative; }

.details__contacts-link::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 30px;
  background-image: url(../img/phone-icon-orange.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 0;
  top: -5px; }

.contacts {
  background-image: url("../img/ocean.jpg");
  background-size: 840px;
  background-position: auto auto;
  background-repeat: no-repeat;
  min-height: 450px;
  margin: 0 auto;
  width: 1024px;
  padding: 10px 10px;
  position: relative; }

.contacts__inner {
  background-color: #ffffff;
  position: absolute;
  top: 70px;
  left: 365px;
  padding: 50px;
  max-width: 655px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 30px rgba(41, 54, 66, 0.1);
  border-radius: 5px; }

.contacts__header,
.contacts__header-text {
  margin-top: 0;
  color: #141517; }

.contacts__header {
  margin-bottom: 15px;
  font-size: 25px;
  line-height: 32px;
  font-weight: 600; }

.contacts__header-text {
  margin-bottom: 28px; }

.contacts__phone,
.contacts__email {
  padding: 15px;
  min-width: 270px; }

.contacts__phone {
  margin-right: 10px;
  margin-bottom: 25px; }

.contacts__button {
  padding: 18px 40px;
  margin-left: 200px; }

.contacts__form {
  position: relative; }

.contacts__form::after {
  content: "";
  position: absolute;
  left: 10px;
  top: 10px;
  background-repeat: no-repeat;
  width: 6px;
  height: 7px;
  background-image: url("../img/star.png"); }

@media (max-width: 1023px) {
  .contacts {
    background-size: 100%; }
  .contacts__inner {
    top: 60px;
    left: 180px; } }

.footer {
  margin-top: 170px; }

.footer__inner {
  padding-left: 10px;
  padding-right: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 80px; }

.footer__destinations-inner {
  display: flex; }

.footer__contacts {
  display: flex;
  flex-direction: column;
  position: relative; }

.footer__contacts::after,
.footer__destinations::after {
  content: "";
  position: absolute;
  width: 0;
  height: 290px;
  border-right: 1px solid #D7D9DF;
  right: -21px;
  top: 25px; }

.footer__destinations {
  position: relative; }

.destinations__list {
  list-style: none;
  padding: 0; }

.destinations__list:not(:last-child) {
  padding-right: 30px; }

.destinations__title,
.contacts__title,
.description__title {
  font-size: 18px;
  line-height: 32px;
  font-weight: 600; }

.destinations__title,
.contacts__title,
.description__title {
  margin-top: 0; }

.destinations__link,
.description__text {
  color: rgba(44, 46, 63, 0.3); }

.destinations__list,
.description__text {
  margin: 0; }

.contacts__link {
  position: relative; }

.contacts__link-tel,
.contacts__link-mail {
  padding-left: 35px;
  text-decoration: underline;
  color: #FE7865; }

.contacts__link-mail {
  margin-bottom: 20px; }

.contacts__link-tel::before,
.contacts__link-mail::before {
  content: "";
  position: absolute;
  left: -2px;
  top: 0;
  background-repeat: no-repeat; }

.contacts__link-tel::before {
  width: 28px;
  height: 28px;
  background-image: url("../img/phone-icon-footer.svg"); }

.contacts__link-mail::before {
  width: 26px;
  height: 20px;
  background-image: url("../img/mail-icon-footer.svg"); }

@media (max-width: 1023px) {
  .footer {
    margin-top: 80px; }
  .footer__inner {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 80px; }
  .footer__destinations {
    margin-bottom: 60px; }
  .footer__destinations::after {
    height: 190px;
    top: 0; }
  .footer__contacts::after {
    width: 0;
    height: 0; }
  .footer__description {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 3; }
  .footer__description::before {
    content: "";
    position: absolute;
    width: 750px;
    border-bottom: 1px solid #D7D9DF;
    top: -25px; }
  .description__title,
  .description__text {
    text-align: center; } }

.modal__inner,
.modalsuccess__inner {
  display: flex;
  width: 728px;
  min-height: 444px;
  position: fixed;
  top: calc(50% - 295px);
  right: 0;
  left: 0;
  bottom: auto;
  margin: auto;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  z-index: 2; }

.modal__inner {
  background-color: #ffffff; }

.modal,
.modalsuccess {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8); }

.modalsuccess__inner {
  background-color: #FBF8F8;
  padding: 180px 165px; }

.modalsuccess__text {
  font-size: 25px;
  line-height: 43px;
  font-weight: 500; }

.modal__picture {
  width: 100%; }

.modal__image {
  display: block; }

.modal__form {
  position: relative; }

.modal__form::after {
  content: "";
  position: absolute;
  left: 65px;
  top: 170px;
  background-repeat: no-repeat;
  width: 6px;
  height: 7px;
  background-image: url("../img/star.png"); }

.modal__data {
  padding: 70px 55px 70px; }

.modal__header {
  margin-bottom: 50px;
  font-size: 25px;
  line-height: 43px;
  font-weight: 600;
  margin-top: 0; }

.modal__phone,
.modal__email {
  padding: 15px;
  min-width: 270px;
  margin-bottom: 20px; }

.modal__button {
  padding: 18px 40px; }

.modal__close,
.modalsuccess__close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 26px;
  height: 28px;
  border: none;
  background-color: inherit;
  cursor: pointer; }

.modal__hidden {
  display: none; }

/*# sourceMappingURL=style.css.map */
