$white: #ffffff;
$dark: #2C2E3F;
$orange-for-links: #FE7865;
$orange: #F17D4B;
$semi-dark:  rgba(44, 46, 63, 0.3);
$dark-grey: rgba(20, 21, 23, 0.7);
$arrows: #141517;
$dark-orange: #F17D4B;
$black: #000000;
$grey: #FBF8F8;
