$white: #ffffff;
$dark: #2c2e3f;
$orange-for-links: #fe7865;
$orange: #f17d4b;
$semi-dark:  rgba(44, 46, 63, 0.3);
$dark-grey: rgba(20, 21, 23, 0.7);
$arrows: #141517;
$dark-orange: #f17d4b;
$black: #000000;
$grey: #fbf8f8;
$light-grey: #d7d9df;
