/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local(""),
       url("../fonts/Montserrat-regular.woff2") format("woff2"), /* Super Modern Browsers */
       url("../fonts/montserrat-regular.woff") format("woff"), /* Modern Browsers */
}
/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local(""),
       url("../fonts/Montserrat-medium.woff2") format("woff2"), /* Super Modern Browsers */
       url("../fonts/montserrat-medium.woff") format("woff"), /* Modern Browsers */
}
/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local(""),
       url("../fonts/Montserrat-semi-bold.woff2") format("woff2"), /* Super Modern Browsers */
       url("../fonts/montserrat-semi-bold.woff") format("woff"), /* Modern Browsers */
}
/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local(""),
       url("../fonts/Montserrat-bold.woff2") format("woff2"), /* Super Modern Browsers */
       url("../fonts/montserrat-bold.woff") format("woff"), /* Modern Browsers */
}
