.catalog {
  background-color: $white;
}

.catalog__inner {
  margin-bottom: 44px;
}

@media (min-width: $tablet-width) {
  .catalog__inner {
    margin-bottom: 63px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__inner {
    margin-bottom: 59px;
  }
}

.catalog__image-panorama {
  width: 100%;
  padding: 0;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 137px;
}


@media (min-width: $tablet-width) {
  .catalog__image-panorama {
    min-height: 509px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__image-panorama {
    min-height: 506px;
  }
}

.catalog__title {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  padding-top: 42px;
  padding-bottom: 50px;
  margin: 0;
  padding-right: 38px;
  padding-left: 38px;
}

@media (min-width: $tablet-width) {
  .catalog__title {
    font-size: 18px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 92px;
    padding-bottom: 76px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__title {
    padding-left: 17%;
    padding-right: 17%;
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

.catalog__label {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}


.catalog__label::before {
  content: "Панорама дня";
  top: 0;
  left: 50%;
  background-color: $secondary-color;
  color: $white;
  padding: 6px 21px;
  font-size: 12px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .catalog__label::before {
    content: "Панорама дня";
    top: 11%;
    left: 76%;
  }
}

@media (min-width: $desktop-width) {
  .catalog__label::before {
    content: "Панорама дня";
    top: 10%;
    left: 82%;
    transform: translateX(20%);
  }
}

.name {
  margin: 0;
}

.catalog__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .catalog__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__list {
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: min-content 1fr 1fr;
    min-width: 940px;
    grid-column-gap: 20px;
    grid-row-gap: 50px;
  }
}

.catalog__item {
  margin-bottom: 21px;
  display: flex;
  flex-direction: column;
}

.like,
.main-like {
  padding-left: 0;
  padding-right: 20px;
  cursor: pointer;
}

.likes__number {
  letter-spacing: -0.1px;
}

.catalog__item-main {
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .catalog__item {
    margin-bottom: 0;
  }

  .catalog__item-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 29px;
    flex-direction: row;
  }

  .name-main {
    order: 1;
  }

  .text-main {
    order: 4;
  }

  .like-main {
    order: 3;
  }

  .number-main {
    order: 2;
    padding-left: 33px;
  }

  .like,
  .main-like {
    padding-left: 0;
    padding-right: 0;
  }
}

.likes-number {
  color: $secondary-color;
}

@media (min-width: $tablet-width) {
  .catalog__item:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media (min-width: $desktop-width) {
  .catalog__item:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .number-main {
    padding-left: 27px;
  }
}

.catalog__item-info,
.catalog__item-main {
  background-color: #f2f2f2;
  padding-left: 19px;
  padding-right: 10px;
  padding-top: 18px;
  padding-bottom: 17px;
  flex-grow: 1;
  display: flex;
}

.catalog__item-info {
  flex-direction: column;
}

.text-main {
  margin: 0;
}

.like-main {
  border: none;
}

.rate,
.main-rate {
  display: flex;
}

@media (min-width: $tablet-width) {
  .rate,
  .main-rate {
    justify-content: space-between;
    margin-top: auto;
  }
}

@media (min-width: $tablet-width) {
  .rate {
    flex-direction: row-reverse;
  }
}

@media (min-width: $tablet-width) {
  .main-rate {
    order: 2;
    flex-direction: row;
    min-width: 150px;
  }
}

.catalog__item-info .text,
.catalog__item-main .text {
  margin-top: 0;
  margin-bottom: 12px;
}


@media (min-width: $tablet-width) {
  .catalog__item-info .text-main,
  .catalog__item-main .text-main {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .catalog__item-info,
  .catalog__item-main {
    padding-left: 31px;
    padding-right: 31px;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .catalog__item-info {
    min-height: 156px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__item-info,
  .catalog__item-main {
    padding-left: 27px;
    padding-right: 27px;
  }

  .catalog__item-main {
    margin-bottom: 0;
  }
}

.catalog__item-info .like {
  border: none;
}

.catalog__image img,
.catalog__label img {
  display: block;
}

.first-name {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

.upload__form {
  background-color: $primary-bg-color;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: $desktop-width) {
  .upload__form {
    background-color: $white;
  }
}

@media (min-width: $tablet-width) {
  .upload__loading {
    min-width: 320px;
  }
}

@media (min-width: $desktop-width) {
  .upload__loading {
    min-width: 500px;
  }
}

.upload__controls-mobile,
.upload__controls {
  position: relative;
  height: 40px;
}

.upload__controls-mobile {
  padding-top: 35px;
  margin-bottom: 68px;
  display: flex;
  justify-content: center;
}

.upload__controls-mobile::after {
  content: "";
  position: absolute;
  border: 1px solid $primary-color;
  width: 320px;
  top: 71px;
  opacity: 0.1;
}

@media (min-width: $tablet-width) {
  .upload__controls-mobile::after {
    display: none;
  }
}


@media (min-width: $tablet-width) {
  .upload__controls {
    margin-bottom: 40px;
    padding-top: 0;
    display: flex;
    align-items: center;
  }

  .upload__control {
    padding: 0;
  }

  .upload__loading {
    padding-left: 49px;
    padding-top: 0;
  }

  .upload__controls-mobile {
    justify-content: stretch;
    margin-bottom: 53px;
  }

  .upload__controls-tablet {
    justify-content: stretch;
    margin-bottom: 32px;
    padding-bottom: 39px;
  }


  .upload__control-contrast {
    margin-right: 35px;
  }

  .upload__control-crop,
  .upload__control-fill {
    margin-right: 30px;
  }

  .upload__controls-tablet::before {
    content: "";
    position: absolute;
    border: 1px solid $primary-color;
    width: 275px;
    left: 0;
    top: -37px;
    opacity: 0.1;
  }
}

@media (min-width: $desktop-width) {
  .upload__loading {
    padding-left: 90px;
    padding-top: 2px;
  }

  .upload__control-contrast {
    margin-right: 54px;
  }

  .upload__control-crop,
  .upload__control-fill {
    margin-right: 45px;
  }
}

.upload__scale {
  height: 2px;
  background: $primary-color;
  width: 240px;
}

@media (min-width: $tablet-width) {
  .upload__scale {
    width: 202px;
  }
}

@media (min-width: $desktop-width) {
  .upload__scale {
    width: 288px;
  }
}

.upload__range-crop,
.upload__range-fill,
.upload__range-contrast {
  position: absolute;
  top: 30px;
  left: 77%;
  width: 14px;
  height: 14px;
  padding: 0;
  border: 2px solid $secondary-color;
  background-color: $white;
  border-radius: 50%;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .upload__range-crop {
    top: 13px;
    left: 73%;
  }

  .upload__range-fill {
    top: -6px;
    left: 28%;
  }

  .upload__range-contrast {
    top: -6px;
    left: 55%;
  }
}

@media (min-width: $desktop-width) {
  .upload__range-crop {
    left: 39%;
  }

  .upload__range-fill {
    top: -6px;
    left: 83%;
  }

  .upload__range-contrast {
    top: -8px;
    left: 61%;
  }
}

.upload__inner {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 41px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
}


@media (min-width: $tablet-width) {
  .upload__inner {
    flex-direction: row;
    padding-top: 56px;
    padding-bottom: 58px;
  }
}

@media (min-width: $desktop-width) {
  .upload__inner {
    background-color: $primary-bg-color;
    padding-left: 80px;
    width: 940px;
  }
}

.upload__range-crop:active,
.upload__range-fill:active,
.upload__range-contrast:active {
  background-color: $secondary-color;
}

.upload__editors {
  display: flex;
  justify-content: space-around;
  padding: 0 26px;
}

@media (min-width: $tablet-width) {
  .upload__editors {
    display: none;
  }
}

/*@media (min-width: $tablet-width) {
  .upload__controls-mobile {
    display: none;
  }
}*/

@media (min-width: $mobile-width) and (max-width: 659px) {
  .upload__controls-tablet,
  .upload__control-crop {
    display: none;
  }
}

@media (width: $tablet-width) {
  .crop-svg {
    width: 22px;
    height: 22px;
  }

  .fill-svg {
    width: 24px;
    height: 22px;
  }

  .contrast-svg {
    width: 16px;
    height: 16px;
  }
}

.upload__control,
.upload__editor {
  cursor: pointer;
  border: none;
  opacity: 0.3;
}

@media (min-width: $desktop-width) {
  .upload__controls-tablet::before {
    width: 404px;
  }
}

.upload__control--active,
.upload__editor--active {
  color: $secondary-color;
  opacity: 1;
}

.upload__editor:hover,
.upload__editor:focus,
.upload__control:hover,
.upload__control:focus {
  opacity: 0.5;
}

.upload__editor:active,
.upload__control:active {
  color: $secondary-color;
  opacity: 1;
}

.upload__range:active {
  background-color: $secondary-color;
}

.upload__title-main,
.upload__title-secondary {
  line-height: 30px;
  text-align: center;
  background-color: $white;
  margin-top: 0;
  padding-bottom: 42px;
}

.upload__title-main {
  padding-bottom: 0;
  margin-bottom: 0;
}

.upload__title-secondary {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 0;
}

@media (min-width: $tablet-width) {
  .upload__title-main,
  .upload__title-secondary {
    font-size: 18px;
    padding-left: 100px;
    padding-right: 100px;
  }

  .upload__title-secondary {
    padding-bottom: 71px;
  }
}

@media (min-width: $desktop-width) {
  .upload__title-secondary {
    padding-bottom: 67px;
  }
}

.upload__button {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: $secondary-color;
  padding-top: 18px;
  background-color: $white;
  border: 3px solid $secondary-color;
  border-radius: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  padding-left: 87px;
  padding-right: 87px;
  padding-bottom: 15px;
}

.upload__button-reset {
  opacity: 0.1;
  border: 3px solid $primary-color;
  color: $primary-color;
  padding-top: 18px;
  padding-left: 99px;
  padding-right: 102px;
  padding-bottom: 14px;
  margin-bottom: 0;
}

@media (min-width: $tablet-width) {
  .upload__button {
    padding-left: 80px;
    padding-right: 75px;
    margin-bottom: 23px;
    padding-top: 15px;
  }

  .upload__button-reset {
    padding-left: 93px;
    padding-right: 88px;
    margin-bottom: 0;
  }

  .upload__buttons {
    margin-top: 64px;
  }
}

@media (min-width: $desktop-width) {
  .upload__button {
    padding-left: 39px;
    padding-right: 39px;
    margin-bottom: 0;
  }

  .upload__button-reset {
    padding-left: 52px;
    padding-right: 52px;
    margin-bottom: 0;
    margin-left: 44px;
  }

  .upload__buttons {
    margin-top: 140px;
  }
}

.upload__button:hover,
.upload__buttom:focus {
  background-color: $secondary-color;
  color: $white;
}

.upload__button:active {
  background-color: $secondary-color;
  color: $upload-button-active;
}

.upload__button-reset:hover,
.upload__buttom-reset:focus {
  opacity: 0.3;
  background-color: transparent;
  color: $primary-color;
}

.upload__button-reset:active {
  color: $light-white;
  background-color: $primary-color;
}

.upload__image {
  display: block;
}

.upload__picture {
  margin-bottom: 41px;
}

@media (min-width: $tablet-width) {
  .upload__picture {
    margin-bottom: 0;
    min-width: 300px;
  }
}

.upload__toggles {
  display: flex;
  justify-content: space-around;
  padding: 0 20px;
}


@media (min-width: $tablet-width) {
  .upload__toggles {
    left: 350px;
    top: 66px;
    position: absolute;
    flex-direction: column;
  }
}

@media (min-width: $desktop-width) {
  .upload__toggles {
    left: 470px;
    top: 55px;
  }
}
