
.contacts {
  padding-top: 42px;
  padding-bottom: 33px;
  background-color: $white;
}

@media (min-width: $tablet-width) {
  .contacts {
    padding-top: 44px;
    padding-bottom: 23px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    padding-top: 58px;
  }
}

.contacts__list {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .contacts__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content min-content;
  }
}

@media (min-width: $desktop-width) {
  .contacts__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content min-content;
  }
}

.contacts__title {
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  font-weight: 300;
  margin-bottom: 15px;
  margin-top: 0;
}

@media (min-width: $tablet-width) {
  .contacts__title {
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 40px;
    line-height: 54px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 33px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__title {
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 50px;
    line-height: 68px;
    padding-left: 156px;
    padding-right: 156px;
    margin-bottom: 41px;
  }
}

.contacts__text {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 0;
  margin-top: 19px;
}

@media (min-width: $tablet-width) {
  .contacts__text-tel {
    grid-row-start: 2;
    grid-column-start: 1;
    margin: 0;
    margin-right: 13px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__text-tel {
    margin: 0;
  }
}

@media (min-width: $tablet-width) {
  .contacts__text-write {
    grid-column-start: 2;
    grid-row-start: 2;
    margin: 0;
    margin-left: 8px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__text-write {
    grid-column-start: 3;
    grid-row-start: 2;
    margin: 0;
  }
}

@media (min-width: $tablet-width) {
  .contacts__text-invite {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    margin: 0;
    padding-top: 41px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__text-invite {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    margin: 0;
    padding-top: 0;
  }
}

.contacts__link,
.contacts__address {
  font-size: 24px;
  line-height: 33px;
  color: $secondary-color;
  text-align: center;
  font-style: normal;
}

@media (min-width: $tablet-width) {
  .contacts__link-tel {
    grid-row-start: 2;
    grid-column-start: 1;
    padding-top: 27px;
  }
}

@media (min-width: $tablet-width) {
  .contacts__link-mail {
    grid-row-start: 2;
    grid-column-start: 2;
    padding-top: 28px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__link-mail {
    grid-row-start: 2;
    grid-column-start: 3;
    padding-top: 37px;
  }
}

@media (min-width: $tablet-width) {
  .contacts__address-invite {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    padding-top: 68px;
    padding-right: 187px;
    padding-left: 186px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__address-invite {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 2;
    padding-top: 35px;
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__link-tel,
  .contacts__link-mail,
  .contacts__address-invite {
    padding-top: 45px;
  }
}

.contacts__address {
  z-index: 2;
}

.contacts__link:hover,
.contacts__link:focus {
  color: $primary-color;
  text-decoration: underline;
}

.contacts__link:active {
  color: $primary-color;
  text-decoration: underline;
  opacity: 0.3;
}
