.modal-decline,
.modal-accept {
  padding-top: 44px;
  max-width: 320px;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  border-radius: 5px;
  position: fixed;
  background-color: $white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: none;
}

.modal-decline {
  min-height: 289px;
  padding-bottom: 52px;
}

.modal-accept {
  min-height: 380px;
}

.modal-decline__title,
.modal-decline__text,
.modal-accept__title,
.modal-accept__text {
  margin-top: 0;
}

.modal-decline__title,
.modal-accept__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: $dark-blue;
  margin-bottom: 37px;
}

.modal-decline__text,
.modal-accept__text {
  font-size: 14px;
  text-align: center;
}

.modal-decline__text {
  margin-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.modal-accept__text {
  margin-bottom: 35px;
  padding-left: 27px;
  padding-right: 27px;
}

.modal-decline__button,
.modal-accept__button {
  background-color: $green;
  border: 2px solid $green;
  border-radius: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: $white;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.modal-decline__button {
  padding-right: 123px;
  padding-left: 124px;
}

.modal-accept__button {
  padding-right: 65px;
  padding-left: 65px;
  margin-top: 52px;
  margin-bottom: 52px;
}

.modal-decline__lower,
.modal-accept__lower {
  display: flex;
  justify-content: center;
}

.modal-accept__lower {
  background-color: $primary-bg-color;
}


@media (min-width: $tablet-width) {
  .modal-decline,
  .modal-accept {
    padding-top: 49px;
    max-width: 460px;
    border-radius: 5px;
    position: fixed;
    background-color: $white;
  }

  .modal-decline {
    padding-bottom: 54px;
    min-height: 363px;
  }

  .modal-accept {
    min-height: 432px;
  }

  .modal-decline__title,
  .modal-decline__text,
  .modal-accept__title,
  .modal-accept__text {
    margin-top: 0;
  }

  .modal-decline__title,
  .modal-accept__title {
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    color: $dark-blue;
    padding-right: 110px;
    padding-left: 110px;
  }

  .modal-decline__text,
  .modal-accept__text {
    font-size: 18px;
    text-align: center;
  }

  .modal-decline__text {
    margin-bottom: 40px;
    padding-left: 72px;
    padding-right: 72px;
  }

  .modal-accept__text {
    margin-bottom: 35px;
    padding-left: 80px;
    padding-right: 80px;
  }

  .modal-decline__button,
  .modal-accept__button {
    background-color: $green;
    border: 2px solid $green;
    border-radius: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: $white;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }

  .modal-decline__button {
    padding-right: 134px;
    padding-left: 135px;
  }

  .modal-accept__button {
    padding-right: 75px;
    padding-left: 75px;
    margin-top: 52px;
    margin-bottom: 52px;
  }

  .modal-decline__lower,
  .modal-accept__lower {
    display: flex;
    justify-content: center;
  }

  .modal-accept__lower {
    background-color: $primary-bg-color;
  }
}

@media (min-width: $desktop-width) {
  .modal-decline,
  .modal-accept {
    max-width: 780px;
    min-height: 377px;
  }

  .modal-decline__text {
    margin-bottom: 68px;
    padding-left: 210px;
    padding-right: 210px;
  }

  .modal-accept__text {
    margin-bottom: 44px;
    padding-left: 180px;
    padding-right: 180px;
  }

  .modal-decline__button,
  .modal-accept__button {
    margin-top: 52px;
    margin-bottom: 52px;
  }

  .modal-accept__button {
    padding-right: 156px;
    padding-left: 155px;
  }

  .modal-decline {
    padding-bottom: 0;
  }

  .modal-decline__lower {
    background-color: $primary-bg-color;
  }
}

.modal-decline--show {
  display: block;
}

.modal-accept--show {
  display: block;
}
