
.price {
  background-color: $primary-bg-color;
  position: relative;
}

@media (width: $tablet-width) {
  .price {
    padding-bottom: 0;
  }
}

.price__item-title:nth-child(3)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-image: url("../img/hit-ribbon.png");
  background-repeat: no-repeat;
  width: 74px;
  height: 74px;
}

@media (width: $tablet-width) {
  .price__item-title:nth-child(3)::before {
    width: 61px;
    height: 61px;
  }
}

.price__item-title:nth-child(3)::after {
  content: "Хит";
  color: $white;
  font-size: 14px;
  line-height: 30px;
  position: absolute;
  top: 10px;
  left: 6px;
  min-height: 27px;
  min-width: 10px;
  transform: rotate(-45deg);
}

.price__inner {
  display: flex;
  justify-content: center;
}


@media (min-width: $mobile-width) and (max-width: 659px) {
  .price__inner {
    padding-top: 44px;
    overflow: hidden;
  }
}

.price__list {
  border-collapse: collapse;
  margin-top: 40px;
  margin-bottom: 100px;
  position: relative;
  background-color: $white;
}

@media (min-width: $mobile-width) {
  .price__list {
    transform: translateX(-135px);
  }
}

@media (min-width: $tablet-width) {
  .price__list {
    transform: translateX(0);
    margin-top: 65px;
    margin-bottom: 72px;
  }
}

@media (min-width: $desktop-width) {
  .price__list {
    margin-top: 66px;
    margin-bottom: 103px;
  }
}

.price__item-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  position: relative;
  padding-top: 10px;
  padding-bottom: 25px;
  min-width: 276px;
}

.price__item-title:not(:first-child) {
  border-left: 2px solid $white;
  background-color: $primary-color;
}

.price__item-title:first-child {
  border-bottom: 2px solid $light-grey;
}

.price__item-title:nth-child(2) {
  border-left: none;
  border-radius: 3px 0 0 0;
}

@media (min-width: $tablet-width) {
  .price__item-title {
    padding-top: 9px;
    padding-bottom: 6px;
    min-width: 152px;
  }
}

@media (min-width: $desktop-width) {
  .price__item-title {
    padding-top: 16px;
    padding-bottom: 18px;
    min-width: 233px;
  }
}

.price__item-title:nth-child(1) {
  background-color: $primary-bg-color;
}

.price__item-title:last-child {
  border-radius: 0 3px 0 0;
}

.price__name,
.price__cost {
  margin: 0;
}

@media (min-width: $mobile-width) {
  .price__name {
    font-size: 16px;
  }

  .price__cost {
    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {
  .price__name {
    font-size: 18px;
  }

  .price__cost {
    font-size: 24px;
  }
}

.price__cost {
  font-weight: normal;
}

.price__text,
.price__text-main {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
}

@media (min-width: $desktop-width) {
  .price__text,
  .price__text-main {
    font-size: 18px;
  }
}

@media (min-width: $tablet-width) {
  .price__text-main {
    text-transform: none;
    flex-grow: 1;
  }

  .price__text {
    display: none;
  }
}

.price__inside-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .price__inside-wrapper {
    justify-content: center;
  }
}

.price__item-description {
  font-size: 14px;
  line-height: 30px;
  position: relative;
  border-left: 2px solid $light-grey;
  border-bottom: 2px solid $light-grey;
  border-radius: 3px 0 0 0;
  padding-left: 17px;
  padding-right: 22px;
  padding-top: 14px;
  padding-bottom: 14px;
  text-transform: uppercase;
}


@media (min-width: $tablet-width) {
  .price__item-description {
    padding-top: 7px;
    padding-bottom: 6px;
  }
}

@media (min-width: $desktop-width) {
  .price__item-description {
    padding-top: 14px;
    padding-bottom: 13px;
  }
}

.price__item-description:last-child {
  border-right: 2px solid $light-grey;
}

.slider__toggles {
  position: absolute;
  top: 425px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .price .slider__toggles {
    display: none;
  }
}

.price__item-price {
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
}

.price::before {
  content: "";
  background-image: url("../img/bg-triangle-white.svg");
  min-height: 20px;
  background-repeat: no-repeat;
  display: block;
  background-size: 100% 100%;
}

@media (min-width: $tablet-width) {
  .price::before {
    min-height: 37px;
  }
}

@media (min-width: $desktop-width) {
  .price::before {
    min-height: 85px;
  }
}
