
.research {
  display: none;
  background-color: $white;
}

@media (min-width: $tablet-width) {
  .research {
    display: block;
    padding-top: 57px;
  }
}

@media (min-width: $desktop-width) {
  .research {
    background-color: $primary-bg-color;
    padding-top: 18px;
  }
}

@media (min-width: $tablet-width) {
  .research__inner {
    display: grid;
    grid-template-columns: 310px 330px;
  }
}

@media (min-width: $desktop-width) {
  .research__inner {
    grid-template-columns: 340px 600px;
    padding-bottom: 66px;
  }
}

.research__image {
  color: $timer-color;
}

.research__timer {
  position: relative;
}

@media (min-width: $tablet-width) {
  .research__item {
    padding-top: 38px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .research__item {
    padding: 90px 20px 15px 28px;
  }
}

.research__image-circle {
  position: absolute;
  top: 57px;
  left: 18px;
  color: $secondary-color;
}

.research__image-number {
  position: absolute;
  top: 119px;
  left: 67px;
  color: $secondary-color;
}

.research__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: $dark-blue;
  margin-bottom: 11px;
  margin-top: 0;
  padding-right: 152px;
  letter-spacing: -1px;
}

@media (min-width: $desktop-width) {
  .research__title {
    padding-right: 0;
    margin-bottom: 23px;
    letter-spacing: 0;
  }
}

.research__text {
  margin-top: 0;
  margin-bottom: 10px;
  padding-right: 5px;
}

@media (min-width: $desktop-width) {
  .research__text {
    padding-right: 13px;
    min-width: 550px;
  }
}

.research__link {
  text-decoration: underline;
  color: $secondary-color;
}

@media (min-width: $desktop-width) {
  .research__timer {
    display: none;
  }

  .research__image-desktop {
    color: $timer-color;
    margin-left: -38px;
  }

  .research__timer-desktop {
    position: relative;
    display: flex;
    justify-content: center;
  }

  .research__image-circledesktop {
    position: absolute;
    top: 67px;
    left: 23px;
    color: $secondary-color;
  }

  .research__image-numberdesktop {
    position: absolute;
    top: 150px;
    left: 86px;
    color: $secondary-color;
  }

  .research__text,
  .research__link {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 29px;
  }
}

@media (max-width: 959px) {
  .research__timer-desktop {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .research__space {
    display: none;
  }
}
